@using Newtonsoft.Json
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - JamesRecipes</title>
    <link rel="shortcut icon" type="image/png" href="~/Admin/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/Admin/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="#" class="text-nowrap logo-img">
                        <img src="~/Admin/images/logos/dark-logo.svg" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Dashboard" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Cookery</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="RecipeManagement" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-cheese"></i>
                                </span>
                                <span class="hide-menu">Recipes</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="TipManagement" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-salt"></i>
                                </span>
                                <span class="hide-menu">Tips</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Competition</span>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="ContestManagement" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-chef-hat"></i>
                                </span>
                                <span class="hide-menu">Contest</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="AnnounceManagement" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-award"></i>
                                </span>
                                <span class="hide-menu">Announcement</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Product</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="BookManagement" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-book"></i>
                                </span>
                                <span class="hide-menu">Books</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="OrderManagement" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-file-invoice"></i>
                                </span>
                                <span class="hide-menu">Orders</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Account</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="AccountManagement" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-circle"></i>
                                </span>
                                <span class="hide-menu">Account</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Categories</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="RecipeCategoriesManagement" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-circle"></i>
                                </span>
                                <span class="hide-menu">Recipes</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="TipCategoriesManagement" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-circle"></i>
                                </span>
                                <span class="hide-menu">Tips</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Others</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="CommentManagement" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-message-2"></i>
                                </span>
                                <span class="hide-menu">Comment</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="ContactManagement" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-mail"></i>
                                </span>
                                <span class="hide-menu">Contact</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="FaqManagement" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-help"></i>
                                </span>
                                <span class="hide-menu">FAQ's</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <img src="~/Admin/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                    <div class="message-body">
                                        @{
                                            var httpContext = Context.Request.HttpContext;
                                            var adminJson = httpContext.Session.GetString("admin");
                                        }

                                        @{
                                            if (!string.IsNullOrEmpty(adminJson))
                                            {
                                                var admin = JsonConvert.DeserializeObject<User>(adminJson);
                                                <a href="#">@admin.Username</a>
                                            }
                                            else
                                            {
                                                <a href="#">Account</a>
                                            }
                                        }
                                        <a asp-action="LogoutAdmin" asp-controller="AccountManagement" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!--  Header End -->

            <div class="container-fluid">
                @RenderBody()


            </div>
        </div>
    </div>
    <script src="~/Admin/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/js/sidebarmenu.js"></script>
    <script src="~/Admin/js/app.min.js"></script>
    <script src="~/Admin/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/Admin/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/Admin/js/dashboard.js"></script>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }

</body>

</html>