@model Book

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FELayout.cshtml";
}

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">Recipe Management</h5>
        <form asp-action="Edit" asp-controller="BookManagement" method="post" >
            
            <div><p style="color: red">@TempData["msgEdit"]</p></div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
  </div>
</div>


