@model JamesRecipes.Models.Membership

@{
    ViewData["Title"] = "CheckMember";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Hiển thị thông tin thành viên -->
<p>Membership ID:</p>
<p>End Date: @Model.EndDate</p>
<p>Is Active: @Model.IsActive</p>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Gọi hàm để cập nhật trạng thái "isActive" khi trang được tải
        updateStatus();
    });

    // Hàm thực hiện yêu cầu AJAX để cập nhật trạng thái
    function updateStatus() {
        // Lấy ID và trạng thái "isActive" từ các nguồn dữ liệu thích hợp
        var id = @Model.MembershipId; // Lấy ID từ nguồn dữ liệu tương ứng
        var isActive = @Model.IsActive; // Lấy trạng thái "isActive" từ nguồn dữ liệu tương ứng

        // Tạo đối tượng XMLHttpRequest
        var xhr = new XMLHttpRequest();

        // Thiết lập yêu cầu POST đến địa chỉ cập nhật trạng thái
        xhr.open('POST', '/paypal/Checkmember', true);
        // Thiết lập callback function để xử lý kết quả sau khi yêu cầu hoàn thành
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Xử lý kết quả trả về
                var response = JSON.parse(xhr.responseText);
            } else {
            }
        };

        // Gửi yêu cầu với dữ liệu được mã hóa
        xhr.send('id=' + encodeURIComponent(id) + '&isActive=' + encodeURIComponent(isActive));
    }
</script>
