@model JamesRecipes.Models.Membership

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5" >
    <div class="row justify-content-center" style="margin: 200px 0 50px 0">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header text-white text-center">
                    <h3 class="text-center">Register Membership</h3>
                </div>
                <div class="card-body">
                    <form id="paypal-form" asp-action="Register" asp-controller="Paypal" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <label for="price">Select Membership Plan:</label>
                            <select id="price" name="price" class="form-control">
                                <option value="10">10 USD</option>
                                <option value="100">100 USD</option>
                            </select>
                        </div>

                        <div id="paypal-button-container" class="text-center mt-3"></div>

                        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
                        <script>
                            // Render the PayPal button
                            paypal.Button.render({
                                env: 'sandbox',
                                style: {
                                    label: 'pay',
                                    size: 'responsive',
                                    shape: 'rect',
                                    color: 'gold'
                                },
                                client: {
                                    sandbox: 'ATssV8Qv5X1-o9SpSDgBCwjVbUb81CJm2ZPSnnDA7fWpfySUPWKzNevwd9-QyHuS5ZI8QwpVwLenR1uI',
                                    production: '<insert production client id>'
                                },
                                commit: true,
                                payment: function (data, actions) {
                                    var price = parseFloat(document.getElementById('price').value);

                                    return actions.payment.create({
                                        transactions: [{
                                            amount: {
                                                total: price,
                                                currency: 'USD'
                                            }
                                        }]
                                    });
                                },
                                onAuthorize: function (data, actions) {
                                    return actions.payment.execute().then(function () {
                                        document.getElementById('paypal-form').submit();
                                    });
                                }
                            }, '#paypal-button-container');
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
