@model CategoriesTip

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FELayout.cshtml";
}

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">Tip Management</h5>
        <form asp-action="Edit" asp-controller="TipCategoriesManagement" method="post" >
            <div class="form-group">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="CategoryTipId" type="hidden" name="id" value="@Model.CategoryTipId" class="form-control" />
                <label asp-for="CategoryName" class="control-label"></label>
                <input asp-for="CategoryName" class="form-control" />
            </div>
            <div><p style="color: red">@TempData["msgEdit"]</p></div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
  </div>
</div>


