@model IEnumerable<JamesRecipes.Models.ViewHomepage>

@{
    ViewData["Title"] = "Home Page";
}

<div class="bradcam_area bradcam_homepage">

    </div>

<!-- recepie_area_start  -->
<div class="recepie_area">
    <div class="container">
        <h1 class="text-center">Top rated recipes</h1>

    </div>
    <div class="container">
        <div class="row">
            @*@foreach (var item in Model)
            {   
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">

                    <div class="recepie_thumb">
                        <img src="~/@item.RecipeImage" alt="">
                    </div>
                    <h3>@item.RecipeTitle</h3>
                    <span>@item.RecipeRating</span>
                    <p>Time Needs: @item.RecipeTimeNeeds</p>
                    <a href="#" class="line_btn">View Full Recipe</a>
                   
                </div>
            </div>*@
            }
        </div>
    </div>
</div>
<!-- /recipe_area_start  -->

<!-- recepie_area_start  -->
<div class="recepie_area">
    <div class="container">
        <h1 class="text-center">Top rated tips</h1>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6">
                <div class="single_recepie text-center">
                    <div class="recepie_thumb">
                        <img src="~/img/recepie/recpie_1.png" alt="">
                    </div>
                    <h3>Egg Manchurian</h3>
                    <span>Appetizer</span>
                    <p>Time Needs: 30 Mins</p>
                    <a href="#" class="line_btn">View Full Recipe</a>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- /recipe_area_start  -->

<!-- latest_trand     -->
    <div class="latest_trand_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="trand_info text-center">
                        <p>Thousands of recipes are waiting to be watched</p>
                        <h3>Discover latest trending recipes</h3>
                        <a href="#" class="boxed-btn3">View all Recipes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ latest_trand     -->


<!-- dish_area start  -->
<div class="dish_area">
    <div class="container">
            <h1 class="text-center">Cookery book</h1>
    
        </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="dish_wrap d-flex">
                    <div class="single_dish text-center">
                        <div class="thumb">
                            <img src="img/recepie/recpie_4.png" alt="">
                        </div>
                        <h3>Birthday Catering</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="single_dish text-center">
                        <div class="thumb">
                            <img src="img/recepie/recpie_5.png" alt="">
                        </div>
                        <h3>Birthday Catering</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="single_dish text-center">
                        <div class="thumb">
                            <img src="img/recepie/recpie_6.png" alt="">
                        </div>
                        <h3>Birthday Catering</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!--/ dish_area start  -->
    