@{
    Layout = "_FELayout";
    ViewData["Title"] = "Announcement";
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Announce Management</h5>
            <p class="mb-0">This is a announce management page </p>
        </div>
    </div>
</div>