@{
  Layout = "_FELayout";
  ViewData["Title"] = "Account";
}

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title fw-semibold mb-4">Account Management</h5>
      <p class="mb-0">This is a account management page </p>
    </div>
  </div>
</div>