@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Forgot Password Confirmation</h2>

<p>M?t email ?ã ???c g?i ??n ??a ch? email ??ng ký c?a b?n v?i h??ng d?n v? cách ??t l?i m?t kh?u.</p>