@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div class="row">
    <div class="col-md-4 mx-auto">
        <h1 class="text-center">Forgot Password Confirmation</h1>
        <div>
            An email has been sent to your inbox to retrieve your password.
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}