@model string

@{
    ViewBag.Title = "Forgot Password";
}

<h2>Forgot Password</h2>
<br />
<br />
<br />
<br />
<br />
<br />

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Email")
        @Html.TextBox("email", Model, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}