@model JamesRecipes.Models.User

@{
    ViewBag.Title = "Forgot Password";
}

<div class="row justify-content-center" style="margin: 150px 0 50px 0">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-white text-center">
                <h1 class="text-danger">Forgot Password</h1>
            </div>
            <div class="card-body">
                @if (ViewData["Error"] != null && !string.IsNullOrWhiteSpace(ViewData["Error"].ToString()))
                {
                    <div class="alert alert-danger">@ViewData["Error"]</div>
                }
                <form asp-action="ForgotPassword" asp-controller="Account" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">Email:</label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reset Password" class="btn btn-primary btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        Swal.fire({
            icon: 'success',
            title: 'Forgot Password Confirmation',
            text: 'An email has been sent to your inbox to retrieve your password.',
        });
    });
</script>