@model JamesRecipes.Models.User

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-light shadow">
            <div class="card-header text-center bg-primary text-white">
                <h1 class="mb-0">Reset Password</h1>
            </div>
            <div class="card-body">
                <form asp-action="Login" asp-controller="Account">
                    @if (ViewData["Error"] != null && !string.IsNullOrWhiteSpace(ViewData["Error"].ToString()))
                    {
                        <div class="alert alert-danger">@ViewData["Error"]</div>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label text-dark">New Password:</label>
                        <input asp-for="Password" type="password" name="newpass" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label text-dark">Confirm Password:</label>
                        <input type="password" name="confirm" class="form-control" />
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

