@model JamesRecipes.Models.User

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-light shadow">
            <br />
            <br />
            <div class="card-header text-center bg-primary text-white">
                <h1 class="mb-0">Reset Password</h1>
            </div>
            <div class="card-body">
                <form asp-action="ResetPassword" asp-controller="Account" onsubmit="return validateForm()">
                    @if (ViewData["Error"] != null && !string.IsNullOrWhiteSpace(ViewData["Error"].ToString()))
                    {
                        <div class="alert alert-danger">@ViewData["Error"]</div>
                    }
                    else if (ViewData["Success"] != null && !string.IsNullOrWhiteSpace(ViewData["Success"].ToString()))
                    {
                        <div class="alert alert-success">@ViewData["Success"]</div>
                    }
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label text-dark">New Password:</label><span class="text-danger">*</span>
                        <input asp-for="Password" type="password" name="newpass" class="form-control" value="@ViewBag.New"/>
                        <span id="newPasswordError" class="text-danger" style="display: none;">New Password is required.</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label text-dark">Confirm Password:</label><span class="text-danger">*</span>
                        <input type="password" name="confirm" class="form-control" value="@ViewBag.Com" />
                        <span id="confirmError" class="text-danger" style="display: none;">Confirm is required.</span>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        var newPasswordInput = document.getElementsByName('newpass')[0];
        var confirmInput = document.getElementsByName('confirm')[0];

        var newPasswordError = document.getElementById('newPasswordError');
        var confirmError = document.getElementById('confirmError');

        var newPassword = newPasswordInput.value.trim();
        var confirm = confirmInput.value.trim();

        var isValid = true;

        if (newPassword === '') {
            newPasswordError.style.display = 'block';
            isValid = false;
        } else {
            newPasswordError.style.display = 'none';
        }

        if (confirm === '') {
            confirmError.style.display = 'block';
            isValid = false;
        } else {
            confirmError.style.display = 'none';
        }

        if (!isValid) {
            return false; // Ngăn chặn việc submit form nếu có lỗi required
        }

        if (!/(?=.*[a-z])(?=.*[A-Z]).{6,}/.test(newPassword)) {
            newPasswordError.textContent = 'Password must be at least 6 characters, 1 uppercase letter and 1 lowercase letter';
            newPasswordError.style.display = 'block';
            return false;
        }

        if (!/[!@@#$%^&*()\-_=+{}|\\;:'"<>,./?]/.test(newPassword)) {
            newPasswordError.textContent = 'Password must contain at least one special character.';
            newPasswordError.style.display = 'block';
            return false;
        }
        return true; // Cho phép submit form
    }
</script>