@model JamesRecipes.Models.AnonymousContestEntry

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_FELayout.cshtml";
}

<h1>Contest Management</h1>

<h4>Score</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContestId" class="control-label"></label>
                <input asp-for="ContestId" class="form-control" />
                <span asp-validation-for="ContestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnonymousRecipeId" class="control-label"></label>
                <select asp-for="AnonymousRecipeId" class ="form-control" asp-items="ViewBag.AnonymousRecipeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label"></label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Score" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

